<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="mt_data_validation" name="Data Validation" sequence="1" web_icon="data_validation,static/description/icon.png"/>
    <menuitem id="menu_data_configuration" name="Configuration" parent="mt_data_validation" action="config_act" sequence="2"/>
</odoo>